*{
	margin:0;padding: 0;
}
html, body{
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}
a{
	text-decoration:none;
}
#header{
	width:100%;
	height: 130px;
	/*background: #c7dcef;*/	
}
#system-cont{
	width:1024px;
	min-height:100%;
	height: auto !important;
	/*margin-left:auto;
	margin-right:auto;*/
	border-left:2px #444444;
	border-right:2px #444444;
	/*padding-bottom: 150px*/
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
#main{
	width:100%;
	height:auto;
}
#menu{
	width:auto;
	height: 60px;
}
#sidebar{
	width:300px;
	height: 400px;
	float: right;
	top:0;
}
#content{
	width:800px;
	height: auto;
	float: left;
}
#content-system{
	width:auto;
	height: auto;
}
#content-embed{
	margin-left:auto;
	margin-right: auto;
}
/******************FOOTER ************************************/
#footer, .push {
	height: 142px; /* .push must be the same height as .footer */
}
#footer{
	width:100%;
	height: 150px;
	background: #4489c8;
}
.footer-center{
	width:600px;
	height: 60px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	margin-bottom:20px;	
}
.footer-center p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	text-align: center;
	color:#fff;
}
.footer-center ul{
	text-align: center;
	margin-top:10px;
}
.footer-center li{
	list-style-type: none;
	display: inline;
	margin-left:5px;
	color: #fff;
}
.footer-center li:first-child, #footer-center li:last-child{
	margin-left:0px;
}
.footer-center a{
	color: #ffffff;
}
