/*body{
	font-family:sans-serif;
}*/

#form img
{
    border:none;
}
#form ul, ul li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#form ul li.first
{
    border-top: 1px solid #DFDFDF;
}
 #form ul li.last
{
    border: none;
}
 #form ul p
{
    float: left;
    margin: 0;
    width: 310px;
}

#form ul h3

{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 0 0;
    width: 200px;
    margin-left:20px;
}

 #form ul li
{
    border-bottom: 1px solid #DFDFDF;
    padding: 15px 0;
    width:600px;
    overflow:hidden;
}
 #form ul textarea{
	width:300px;
	padding: 5px;
	position: relative;
	border: solid 1px #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#form ul select{
	width:300px;
	padding: 5px;
	position: relative;
	border: solid 1px #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#form ul input[type="text"], ul input[type="password"]{
    width:300px;
    padding:5px;
    position:relative;
    border:solid 1px #666;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

 #form ul input.required 
{
    border: solid 1px #f00;
}
#form ul input.error{
	border: solid 1px #FF0000;
}
#form li label.error{
	color: #FF0000;
	font-family:Arial, Helvetica, sans-serif;
	font-style: italic;
	padding-right:7px;
	font-size: 11px;
	float: right;
}
#form li select.error{
	color: #FF0000;
	font-family:Arial, Helvetica, sans-serif;
	font-style: italic;
	padding-right:7px;
	font-size: 11px;
	float: right;
}
#form li input[type="submit"]{
	float: right;
	margin-right: 80px;
	width: 90px;
	height: 40px;
}

#hide{
	display: none;
}
#table-selected{
	width: 500px;
	height: auto;
}
#table-selected tr{
	width: 500px;
	border-bottom: 1px solid #DFDFDF;
}
#table-selected td{
	width: 150px;
	text-align: center;
}
#buscarAlu{
	width: 100px;
	background: url("../images/search.png") no-repeat;
	background-position: top right;
}
#table-selected .opt-add{
	width: 60px;
	height: 30px;
}
#table-selected .added{
	background: url('../images/tick.png') no-repeat center;
}
#table-selected .delete{
	background: url('../images/delete.png') no-repeat;
}
