.form-style{
	font-family: normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
	color: #787878;
	margin-top:20px;
	margin-left:20%;
}
.form-style h3{
	font-size: 1em;
	margin-left:20px;
	margin-bottom:10px;
}

.form-style ul, ul li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.form-style ul li.first
{
    border-top: 1px solid #DFDFDF;
}
.form-style ul li.last
{
    border: none;
}
.form-style ul p
{
    float: left;
    margin: 0;
    width: 310px;
}
.form-style ul h3
{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 0 0;
    width: 200px;
    margin-left:20px;
}
.form-style ul li
{
    border-bottom: 1px solid #DFDFDF;
    padding: 15px 0;
    width:600px;
    overflow:hidden;
}
.form-style ul textarea{
	width:300px;
	padding: 5px;
	position: relative;
	border: solid 1px #787878;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.form-style ul select{
	width:300px;
	padding: 5px;
	position: relative;
	border: solid 1px #787878;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.form-style ul input[type="text"], ul input[type="password"]{
    width:300px;
    padding:5px;
    position:relative;
    border:solid 1px #787878;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.form-style ul input.required 
{
    border: solid 1px #787878;
}
.form-style ul input.error{
	border: solid 1px #FF0000;
}
.form-style li label.error{
	color: #FF0000;
	font-family:Arial, Helvetica, sans-serif;
	font-style: italic;
	padding-right:7px;
	font-size: 11px;
	float: right;
}
.form-style li select.error{
	color: #FF0000;
	font-family:Arial, Helvetica, sans-serif;
	font-style: italic;
	padding-right:7px;
	font-size: 11px;
	float: right;
}
.form-style li input[type="submit"]{
	float: right;
	margin-right: 80px;
	width: 90px;
	height: 40px;
}
.form-style .emb{
	margin-right: 9px;
}
.form-style label, input[type="checkbox"]{
	margin-top:4px;
}

#table-selected{
	width: 500px;
	height: auto;
}
#table-selected tr{
	width: 500px;
	border-bottom: 1px solid #DFDFDF;
}
#table-selected td{
	width: 150px;
	text-align: center;
}
.button-search{
	width: 100px;
	background: url("../images/search.png") no-repeat;
	background-position: top right;
}
#buscarAsig{
	width: 100px;
	background: url("../images/search.png") no-repeat;
	background-position: top right;
}
#table-selected .opt-add{
	width: 60px;
	height: 30px;
}
#table-selected .added{
	background: url('../images/tick.png') no-repeat center;
}
#table-selected .delete{
	background: url('../images/delete.png') no-repeat;
}

table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
table td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
table tr:hover td
{
	background: #d0dafd;
	color: #339;
}
